.Signup {
  display: flex;
  position: relative;
  height: 90vh;
  padding: 0 10%;
}

.Signup > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
}

.Signup > div > h1 {
  color: var(--text-color-2);
  margin-bottom: 20px;
}

.Signup > div > h1 span {
  color: var(--text-color-1);
}

.Signup > div > p {
  font-weight: 500;
  margin-top: 30px;
  color: var(--text-color-2);
}

.Signup > div > p a {
  cursor: pointer;
  color: var(--text-color-1);
}

.Signup img {
  position: absolute;
  height: 80vh;
  right: 10%;
  bottom: -1px;
  transform: scaleX(-1);
}

.Signup .error {
  color: #de3b2d;
  font-weight: 500;
  margin: 10px 0 5px 0;
}

@media screen and (max-width: 900px) {
  .Signup {
    flex-direction: column;
    height: 100%;
    align-items: flex-end;
  }

  .Signup > div {
    margin: 10px 0;
    width: 100%;
  }

  .Signup img {
    position: static;
    height: 40vh;
    width: auto;
    z-index: 1;
  }
}
