@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button:hover, a:hover {
  opacity: 0.8;
}

input:focus, select:focus, textarea:focus {
  outline: none;
}

:root {
  --bg-color-1: #08080C;

  --text-color-1: #34D178;
  --text-color-2: #F5F5F5;

  --font-family-1: 'Oxanium', cursive;
}

.App {
  background-color: var(--bg-color-1);
  min-height: 100vh;
  font-family: var(--font-family-1);
}